.push-logo {
  background: black;
  background-image: url(/images/push.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px 80px;
  display: inline-block;
  height: 80px;
  padding: 0 10px;
  width: 150px;
}

.simplybuilt-logo {
  background: url(/images/simplybuilt.jpg) no-repeat;
  background-size: 234px 80px;
  display: inline-block;
  height: 80px;
  width: 234px;
}

#open-source {
  p {
    @extend .clearfix;
  }

  .logo {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }
}

figcaption.code-highlight-caption {
  padding-top: 0;
}

pre.code-highlight-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  font-size: 0.72rem;

  @media #{$large} {
    font-size: 0.8rem;
  }

  @media #{$x-large} {
    font-size: 0.8rem;
  }
}
